@use "../global" as *;


.l-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  transition: all 0.3s;

  @include mq(lv767) {
    padding: 16px 0;
  }

  &.is-active {
    background-color: #fff;

    .p-global-nav {
      color: $text-color;
    }
  }

  &__inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    column-gap: 30px;
  }
}

