@use "../../global" as *;


.p-job-item-wrapper {
  display: block;
}

.p-job-item {
  position: relative;

  &__img-wrapper {
    @include mq(lv767) {
      text-align: center;
    }
  }

  &__body {
    position: absolute;
    width: 100%;
    left: 20px;
    bottom: 0;
    transform: translateY(50%);
    background-color: #fff;
    font-size: 12px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }

  &__body-inner {
    height: 99px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__label {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    text-transform: uppercase;
    padding: 4px 17px;
    color: #fff;
    background-color: $text-color;
  }

  &__text {
    width: 305px;

    @include mq(lv1280) {
      width: 100%;
      padding-right: 20px;
    }
  }

  &__btn {
    position: absolute;
    right: 20px;
    display: grid;
    place-items: center;
  }
}