@use "../../global" as *;


#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #fff;
  text-align: center;
}

#loading_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading .kvArea {
  width: 100%;
}

#loading .kvArea .img_box {
  text-align: center;
  height: 100px;
}

#loading .kvArea .img_box img {
  height: 100%;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.2s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes fadeUpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

#loading_text {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
}
 
#loading_text .progressbar-text {
  transform: translateX(-50%) !important;
  font-family: 'Roboto' !important;
  font-size: 1.5rem !important;
  font-weight: bold;
  color: $main-color !important;
  top: 15px !important;
}

